* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none; 
}

.wrapper {
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 768px;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 54px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.logo {
    flex-basis: 40%;
}

.link {
    color: white;
    flex-basis: 25%;
}

.link:hover {
    color: green;
}

h3 {
    padding-top: 18px;
    padding-left: 80px;
    font-family: 'Mali' , cursive;
    font-weight: bolder;
    color: white;
}

.menu {
    display: flex;
    justify-content:space-evenly;
    flex-basis: 35%;
    padding-top: 18px;
    margin-right: 40px;
}

.icon {
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
    margin-left: 60px;
}

.login::before {
    content: '';
    border-right: 1px;
    height: 20px;
    background-color: grey;
    width: 2px;
    margin-right: 10px;
}

.login {
    display: flex;
    justify-content: space-around;
    flex-basis: 45%;
    color: white;
    margin-right: 50px;
    font-family: 'Mali', cursive;
    font-size: 14px;
}

form {
    width: 450px;
    height: 585px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid white;
    border: inherit;
    border-radius: 10px;
    padding-top: 20px;
}

.greenbox {
    background-color: green;
    height: 18px;
    width: 18px;
    position: absolute;   
}

.conteiner {
    width: 320px;
    height: 515px;
    margin: auto;
    position: relative;
}

.login-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Mali', cursive;
}

.sing {
    font-weight: 5px;
    font-size: 20px;
}

.link-form {
    color: green;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.face {
    width: 157px;
    height: 46px;
    background-color: blue;
    border: 1px inset white;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}

.goog {
    width: 157px;
    height: 46px;
    background-color: red;
    border-radius: 5px;
    border: 1px inset white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}

.line {
    width: 1px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.3);
}

p {
    color: white;
    vertical-align: middle;
    font-family: 'Mali' , cursive;
}

.one {
    height: 20px;
    width: 10px;
}

.two {
    width: 25px;
    height: 16px;
}

.vertical-line {
    width: 135px;
    height: 1px;
    border: 1px solid;
    padding-bottom: 0px;  
}

.or-block {
    text-align: center;
    overflow: hidden;
    margin-bottom: 25px;
}

.or-line {
    display: inline-block;
    position: relative;
}

.or-line::before, ::after {
    content: '';
    position: absolute;
    top: 55%;
    height: 1px;
    background: grey;
}

.or-line::before {
    right: 200%;
    left: -1125%;
}

.or-line::after {
    left: 200%;
    right: -1125%;
}

input {
    width: 318px;
    height: 35px;   
}

.holder {
    margin-bottom: 25px;
    padding-left: 10px;
    font-family: 'Mali', cursive;
}

.holder:hover {
    border-radius: 1px;
    background-color:  #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.21);
    width: 318px;
    height: 35px;
    margin-bottom: 25px;
    border: inherit;
    padding-left: 10px;
    transition: 1s;
}

.check {
    width: 10px;
    height: 10px;
    background-color: black;
}

.label {
    display: inline-block;
    color: black;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Mali', cursive;
}

.terms {
    color: green;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}

.checkbox-input {
    position: relative;
    margin-bottom: 20px;
}

.checkbox {
    position: absolute;
    display: none;
    top: -1px;
    left: 59px;
}

.checkbox-custom {
    position: relative;
    width: 17px;
    height: 17px;
    border: 1px solid #cccccc;
    margin-left: 10px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
    content: "";
    position: absolute;
    top: -2px; 
    right: -4px;
    bottom: 2px;
    left: 2px;
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
}

.button {
    width: 318px;
    height: 35px;
    color: white;
    background-color: green;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-family: 'Mali', cursive;
}